<% include header %>

<% include navigatie %>
<div class="achtergrond_favorieten"></div>
  <h2 class="titelHome">Favorieten</h2>
  <div class="favorite">
    <div class="favorite-column favoriete-lijnnummer">
        <div class="lijnnummer ln-1">720</div>
        <div class="lijnnummer ln-2">540</div>
        <div class="lijnnummer ln-3">600</div>
        <div class="lijnnummer ln-4">91</div>
        <div class="lijnnummer ln-5">92</div>
      </div>
      <div class="favorite-column">
        <p class="lijntraject">Putte - Kapellen - Ekeren - Antwerpen</p>
        <p class="lijntraject">Herentals - Westerlo</p>
        <p class="lijntraject">Meerle - Hoogstraten - Antwerpen</p>
        <p class="lijntraject">Aalst - Sint-Niklaas</p>
        <p class="lijntraject">Sint-Niklaas - Dendermonde</p>
      </div>
    </div>
