<% include header %>

<% include navigatie %>

<% include routeplanner %>

<div class="hometabs">
    <div class="selectie">
        <div>Favorieten</div>
        <div>Historiek</div>
    </div>
    <div class="favorieten">
        <p>Lorem ipsum sid amet</p>
    </div>
    <div class="historiek">
        <p>Lorem ipsum sid amet</p>
    </div>
</div>

<% include footer %>
