<% include header %>

<!-- Boog in de achtergrond -->
<svg class="boog1" width="414" height="736" viewBox="0 0 414 736" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Vector</title>
    <desc>Created using Figma</desc>
    <g id="Canvas" transform="translate(995 1151)">
        <g id="Vector">
            <use xlink:href="#path0_fill" transform="translate(-995 -1151)" fill="url(#paint0_linear)" style="mix-blend-mode:overlay"/>
        </g>
    </g>
    <defs>
        <linearGradient id="paint0_linear" x1="0" y1="0" x2="1" y2="0" gradientUnits="userSpaceOnUse" gradientTransform="matrix(-525.5 735 -413.438 -295.594 719.719 176.297)">
            <stop offset="0" stop-color="#4F4F4F" stop-opacity="0"/>
            <stop offset="1" stop-color="#424242"/>
        </linearGradient>
        <path id="path0_fill" d="M 413.201 0C 413.201 424.56 0 240.56 0 736L 414 734.568L 413.201 0Z"/>
    </defs>
</svg>

<h1>Aanmelden</h1>

<h2>Waar wil je naartoe?</h2>

<div class="knop1-1">
     <h3 class="knop1Licht">E-mail</h3>
</div>

<div class="knop1-2">
     <h3 class="knop1Donker">Aanmelden</h3>
</div>

<div class="knop1-3">
     <h3 class="knop1Geel">Aanmelden</h3>
</div>

<div class="knop2-1">
     <h3 class="knop2Zwart">Heb je nog geen account?</h3>
</div>

<div class="knop2-1">
     <h3 class="knop2Wit">Ga verder zonder aan te melden</h3>
</div>

<div class="routeplanner">
     <input class="input1" placeholder="Van" />
     <input class="input1" placeholder="Naar" />

     <!-- Zwarte lijn in routeplanner  -->
     <svg class="lijnRoute" version="1.1"
     	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
     	 x="0px" y="0px" width="14px" height="68px" viewBox="0 0 14 68" enable-background="new 0 0 14 68" xml:space="preserve">
     <defs>
     </defs>
     <path fill="#1D1D1B" d="M9,54.295v-40.59c2.888-0.863,5-3.541,5-6.705c0-3.86-3.141-7-7-7S0,3.14,0,7c0,3.165,2.113,5.842,5,6.705
     	v40.59C2.113,55.158,0,57.835,0,61c0,3.86,3.141,7,7,7s7-3.14,7-7C14,57.835,11.888,55.158,9,54.295z M4,7c0-1.654,1.346-3,3-3
     	s3,1.346,3,3s-1.346,3-3,3S4,8.654,4,7z M7,64c-1.654,0-3-1.346-3-3s1.346-3,3-3s3,1.346,3,3S8.654,64,7,64z"/>
     </svg>
</div>

<p>Putte - Kapellen - Ekeren - Antwerpen</p>


<% include footer %>
