<% include header %>

<!-- Boog in de achtergrond -->
<svg class="boog1" width="414" height="736" viewBox="0 0 414 736" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Vector</title>
    <desc>Created using Figma</desc>
    <g id="Canvas" transform="translate(995 1151)">
        <g id="Vector">
            <use xlink:href="#path0_fill" transform="translate(-995 -1151)" fill="url(#paint0_linear)" style="mix-blend-mode:overlay"/>
        </g>
    </g>
    <defs>
        <linearGradient id="paint0_linear" x1="0" y1="0" x2="1" y2="0" gradientUnits="userSpaceOnUse" gradientTransform="matrix(-525.5 735 -413.438 -295.594 719.719 176.297)">
            <stop offset="0" stop-color="#4F4F4F" stop-opacity="0"/>
            <stop offset="1" stop-color="#424242"/>
        </linearGradient>
        <path id="path0_fill" d="M 413.201 0C 413.201 424.56 0 240.56 0 736L 414 734.568L 413.201 0Z"/>
    </defs>
</svg>




<% include footer %>
