<% include header %>

<!--<div class="clippingAchtergrond">
     <img class="achtergrondAfbeelding" src="/img/achtergrondAfbeelding.jpeg" alt="achtergrond afbeelding">
</div>-->

<div class="achtergrondAfbeelding">
     <h2 class="white h2welkomstscherm">Welkom op de vernieuwde app van<br />De Lijn!</h2>

     <div class="knop1-3 knopGeelwelkomstscherm">
          <h3 class="knop1Geel"><a href="/aanmelden">Aanmelden</a></h3>
     </div>

     <div class="knop2-1 knopWitwelkomstscherm">
          <h3 class="knop2Wit"><a href="/home">Ga verder zonder aan te melden</a></h3>
     </div>
</div>



<% include footer %>
