<% include header %>
<div class="achtergrond_instellingen">
<!-- Witte pijl om terug te gaan  -->
<a href="/home">
     <svg class="terugPijl" version="1.1"
     	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
     	 x="0px" y="0px" width="42.35px" height="36.117px" viewBox="0 0 42.35 36.117" enable-background="new 0 0 42.35 36.117"
     	 xml:space="preserve">
     <defs>
     </defs>
     <line fill="none" stroke="#FFFFFF" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="2.85" y1="18.267" x2="39.85" y2="18.267"/>
     <line fill="none" stroke="#FFFFFF" stroke-width="4.8666" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="2.85" y1="18.267" x2="17.85" y2="2.433"/>
     <line fill="none" stroke="#FFFFFF" stroke-width="4.8666" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="2.433" y1="18.683" x2="18.267" y2="33.683"/>
     </svg>
</a>

<div class="profile">
  <div id="profielbox"></div>
  <h2 class="username">Max Joeseph Stanley</h2>
  <h2 class="kleine_link"><a href="/aanmelden">Uitloggen</a></h2>
</div>

<ul class="oplijsting_instellingen">
<li><span class="tickets"></span><h2 class="link_instellingen"><a href="https://www.facebook.com/">Mijn tickets</a></h2></li>
<li><span class="account"></span><h2 class="link_instellingen"><a href="https://www.facebook.com/">Mijn account</a></h2></li>
<li><span class="instellingen"></span><h2 class="link_instellingen"><a href="https://www.facebook.com/">Mijn instellingen</a></h2></li>
<li><span class="over"></span><h2 class="link_instellingen"><a href="https://www.facebook.com/">Over de app</a></h2></li>
</ul>

</div>
