<div id="menu">
		      <nav>
		          <ul class="nav">
<<<<<<< HEAD
				  <li <% if (page_name === 'home') { %>class="current" <% } %> ><a href="/home">Home</a></li>
				  <li <% if (page_name === 'favorieten') { %>class="current" <% } %> ><a href="/favorieten">Favorieten</a></li>
				  <li <% if (page_name === 'storingen') { %>class="current" <% } %> ><a href="/storingen">Storingen</a></li>
				  <li <% if (page_name === 'instellingen') { %>class="current" <% } %> ><a href="/instellingen">Instellingen</a></li>
=======
				  <li <% if (page_name === 'home') { %>class="current" <% } %> ><a href="/home"><span class="icon_home"></span></a></li>
				  <li <% if (page_name === 'favorieten') { %>class="current" <% } %> ><a href="/favorieten"><span class="icon_favorieten"></span></a></li>
				  <li <% if (page_name === 'storingen') { %>class="current" <% } %> ><a href="/storingen"><span class="icon_storingen"></span></a></li>
				  <li <% if (page_name === 'instellingen') { %>class="current" <% } %> ><a href="/instellingen"><span class="icon_instellingen"></span></a></li>
>>>>>>> css
		          </ul>
		      </nav>
		</div>
