<div id="menu">
		      <nav>
		          <ul class="nav">
				  <li <% if (page_name === 'home') { %>class="current" <% } %> ><a href="/home">Home</a></li>
				  <li <% if (page_name === 'favorieten') { %>class="current" <% } %> ><a href="/favorieten">Favorieten</a></li>
				  <li <% if (page_name === 'storingen') { %>class="current" <% } %> ><a href="/storingen">Storingen</a></li>
				  <li <% if (page_name === 'instellingen') { %>class="current" <% } %> ><a href="/instellingen">Instellingen</a></li>
				  <!--
				  <li><a href="/home">Home</a></li>
				  <li><a href="/favorieten">Favorieten</a></li>
		            <li><a href="/storingen">Storingen</a></li>
		            <li><a href="/instellingen">Instellingen</a></li>
			  -->
		          </ul>
		      </nav>
		</div>
