<div id="menu">
		      <nav>
		          <ul class="nav">
		            <li><a href="/voorbeeld">Home</a></li>
		            <li><a href="#favorieten">Favorieten</a></li>
		            <li><a href="#storingen">Storingen</a></li>
		            <li><a href="#instellingen">Instellingen</a></li>
		          </ul>
		      </nav>
		</div>
