<% include header %>

<h1 class="aanmeldingsTitel">Uw account is succesvol aangemaakt!</h1>

<div class="regiGeluktForm">
     <div class="knop1-2">
          <h3 class="knop1Donker"><a href="/aanmelden">Ga verder naar aanmelden</a></h3>
     </div>
</div>

<% include footer %>
