<% include header %>

<!-- Witte pijl om terug te gaan  -->
<a href="/aanmelden">
     <svg class="terugPijl" version="1.1"
     	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
     	 x="0px" y="0px" width="42.35px" height="36.117px" viewBox="0 0 42.35 36.117" enable-background="new 0 0 42.35 36.117"
     	 xml:space="preserve">
     <defs>
     </defs>
     <line fill="none" stroke="#FFFFFF" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="2.85" y1="18.267" x2="39.85" y2="18.267"/>
     <line fill="none" stroke="#FFFFFF" stroke-width="4.8666" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="2.85" y1="18.267" x2="17.85" y2="2.433"/>
     <line fill="none" stroke="#FFFFFF" stroke-width="4.8666" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="2.433" y1="18.683" x2="18.267" y2="33.683"/>
     </svg>
</a>

<h1 class="aanmeldingsTitel">Registreren</h1>

<div class="registrerenForm">
     <div>
       <input class="knop1-1" type="text" placeholder="Naam">
     </div>

     <div>
       <input class="knop1-1" type="text" placeholder="E-mail">
     </div>

     <div>
       <input class="knop1-1" type="password" placeholder="Wachtwoord">
     </div>

     <div>
       <input class="knop1-1" type="password" placeholder="Wachtwoord herhalen">
     </div>


     <div class="knop1-2">
          <h3 class="knop1Donker"><a href="/regiGelukt">Registreren</a></h3>
     </div>

     <div class="knop2-1">
          <h3 class="knop2Zwart"><a href="/aanmelden">Heb je al een account?</a></h3>
     </div>
</div>



<% include footer %>
