<% include header %>
<h1>Vul lijnnummer in</h1>

<form method="post" action="/result">
  <input type="text" name="lijnnummer" value="">

  <input type="submit" value="toon resultaten">
</form>

<script>
var omleidingen = <%- omleidingen %>;

console.log(omleidingen);
</script>


<%- omleidingen %> 
