<% include header %>
<h1>Vul lijnnummer in</h1>

<form method="post" action="/storingenResult">
  <input type="text" name="lijnnummer" value="">

  <input type="submit" value="toon resultaten">
</form>

<%- omleidingenLijst %>
