<% include header %>

<% include navigatie %>

<h1 class="storingTitel">Storingen</h1>

<form class="storingForm" method="post" action="/storingenResult">
  <input class="input2 inputStoring" type="text" name="lijnnummer" value="" placeholder="Lijnnummer">
  <input class="knopStoring" type="submit" value="Zoeken">
</form>

<script type="text/javascript">

</script>

<% include footer %>
