/* Grid van het document is 38x40px voor het grote vierkantje en 10px voor de marge */

/* Positionering van onze app tegenover ons scherm */
/* >>> */
html {
     background: #333;
     overflow: hidden;
}
/* <<< */

body {
     width: 417px;
     height: 736px;
     background: #FFD300;
     font-family: 'Roboto', sans-serif;
     /* Positionering van onze app tegenover ons scherm */
     /* >>> */
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     background-image: url(../img/achtergrond_geleboog.svg);
     /* <<< */
     overflow-y: scroll;
}

.marge {
     width: 320px;
     padding-left: 47px;
     padding-right: 47px;
}

/*navigatie*/
/* >>> */
.icon_home, .icon_storingen, .icon_favorieten, .icon_instellingen {
  display: block;
  width: 50px;
  height: 67px;
  background-repeat: no-repeat;
  background-position: center;
}

.icon_home {
  background-image: url('../img/home.png');
}

.icon_storingen {
  background-image: url('../img/storingen.png');
}

.icon_favorieten {
  background-image: url('../img/favorieten.png');
}

.icon_instellingen {
  background-image: url('../img/instellingen.png');
}

nav {
  background-color: #828282;
  width: 100%;
  border-bottom: 5px solid lightgrey;
  height: 67px;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav li {
  list-style-type: none;
}

nav a {
  text-decoration: none;
  text-align: center;
  color: white;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 1em;
  font-weight: 900;
}

.current {
  border-bottom: 5px solid #56CCF2;
}

a {
     text-decoration: none;
     color: inherit;
}

/* <<< */

/* Elementen */
/* >>> */
.boog1 {
     position: absolute;
     width: 414px;
     height: 736px;
     left: 0px;
     top: 0px;
     z-index: 1;
}

.lijnRouteplanner {
     position: absolute;
     left: 54px;
     top: 162px;
}

.pijlenRouteplanner {
     position: absolute;
     left: 315px;
     top: 178px;
}

.achtergrondAfbeelding {
     background-image: url("/img/achtergrondAfbeelding2.jpg");
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     height: 100%;
     width: 100%;
     position: absolute;
}

.terugPijl {
     position: absolute;
     top: 35px;
     left: 47px;
}

/*.achtergrondAfbeelding {
     height: inherit;
     filter: blur(7px);
     transform: scale(1.1);
     position: relative;
     right: 200px;
}

.clippingAchtergrond {
     width: auto;
     height: 100%;
     overflow: hidden;
}*/
/* <<< */

/* Styling van tekst */
/* >>> */
h1 {
     font-weight: 500;
     line-height: normal;
     font-size: 46px;
     text-align: center;
     color: #F2F2F2;
     margin-bottom: 10px;
}

h2 {
     font-weight: 700;
     line-height: normal;
     font-size: 30px;
     text-align: center;
     color: #000000;
     margin-bottom: 10px;
     width: 320px;
}

h2.white {
     color: #F2F2F2;
}

p {
     font-weight: 300;
     line-height: normal;
     font-size: 14px;
     text-align: left;
     color: #000000;
}

p.lijntraject {
  margin-top: 10px;
  margin-bottom: 50px;
  font-weight: 500;
  color: #828282;
}

.titelHome{
  text-align: center;
  width: 100%;
  margin: 5% 0;
}
/* <<< */

/* Knoppen */
/* >>> */
     /* Grote knoppen */
     /* >>> */
.knop1-1 {
     position: relative;
     width: 310px;
     height: 39px;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 10px;
     background: #F2F2F2;
     border-radius: 5px;
     padding-left: 10px;
}

h3.knop1Licht {
     font-weight: 300;
     font-size: 12px;
     text-align: left;
     padding-left: 10px;
     color: #828282;
     line-height: 39px;
     /*vertical-align: middle; --> doet niks*/
}

.knop1-2 {
     position: relative;
     width: 320px;
     height: 49px;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 10px;
     background: #2D9CDB;
     border-radius: 5px;
     margin-top: 39px;
}

h3.knop1Donker {
     font-weight: 700;
     font-size: 16px;
     text-align: center;
     color: #F2F2F2;
     line-height: 49px;
     vertical-align: middle;
}

.knop1-3 {
     position: relative;
     width: 320px;
     height: 39px;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 10px;
     background: #FFD300;
}

h3.knop1Geel {
     font-weight: 700;
     font-size: 16px;
     text-align: center;
     color: #333333;
     line-height: 39px;
     vertical-align: middle;
}

.knop2-1 {
     position: relative;
     width: 320px;
     height: 39px;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 10px;
     background: rgba(0,0,0,0);
}

h3.knop2Zwart {
     font-weight: 300;
     font-size: 16px;
     text-align: center;
     color: #828282;
     line-height: 39px;
     vertical-align: middle;
     text-decoration: underline;
}

h3.knop2Wit {
     font-weight: 300;
     font-size: 16px;
     text-align: center;
     color: #ffffff;
     line-height: 39px;
     vertical-align: middle;
     text-decoration: underline;
}
     /* <<< */
/* <<< */

/* Input */
/* >>> */
input {
  border: none;
  padding: 0;
}

input:focus, select:focus {
  outline: none;
}

.input1 {
     position: relative;
     width: 300px;
     height: 39px;
     font-weight: 500;
     font-size: 16px;
     color: #828282;
     line-height: 39px;
     margin-bottom: 15px;
     border: none;
     padding-left: 40px;

}

.routeplanner_deel1 {
  margin: 0px auto;
  width: 340px;
}

.routeplanner_deel2 {
  width: 340px;
  margin: 0 auto;
}

.input2 {
     width: 148px;
     height: 39px;
     font-weight: 500;
     font-size: 16px;
     text-align: center;
     color: #828282;
     line-height: 39px;
     padding-left: 10px;
}
/*styling date-picker*/

::-webkit-inner-spin-button {
  display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background: url(../img/kalender.svg) no-repeat;
  background-size: 20px;
  width: 20px;
  height: 20px;
}

input[type='date']:after {
  content: attr(20/12/2017);
}

.input_uur {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-weight: 500;
  color: #828282;
  font-size: 14px;
  height: 39px;
  text-align: center;
  margin-left: 4px;
  width: 60px;
}

input[type=time]::-webkit-clear-button {
  display: none;
}

select.keuze_VA {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-weight: 500;
  color: #828282;
  border: none;
  border-radius: 0;
  height: 39px;
  font-size: 14px;
  -webkit-appearance: button;
  -webkit-border-radius: 0px;
  width: 106px;
  margin-left: 4px;
  padding-left: 8px;
  background-image: url(../img/pijl.svg);
  background-position: 90% center;
  background-size: 14px;
  background-repeat: no-repeat;
}

.knopGrijs {
  background-color: #828282;
  border: none;
  color: white;
  font-size: 16px;
  font-family: roboto;
  font-weight: 500;
  height: 39px;
  width: 340px;
  border-radius: 0;
  outline: none;
  display: block;
  margin: 15px auto 0 auto;
}

.knopGrijs:hover {
  cursor: pointer;
}

/* Gevonden routes */
.gevondenLijnen {
  width: 417px;
  background-color: white;
  margin-top: 30px;
  padding: 10px 0;
}

.gevonden_Route {
  margin: 20px auto 20px;
  padding-bottom: 20px;
  width: 340px;
  border-bottom: 1px solid #e2e2e2;
}

.gevonden_Route:last-child {
  border-bottom: none;
  margin-bottom: 0px;
}

.bovenste_Lijn {
  width: 340px;
  height: 30px;
  display: block;
}

.opgemaakte_Tekst {
  color: #828282;
  font-size: 16px;
  font-family: roboto;
  font-weight: 500;
  display: inline-block;
  line-height: 30px;
}

.favoriet {
  width: 22px;
  height: 21px;
  background-image: url(../img/ster_vol.svg);
  display: inline-block;
  vertical-align: middle;
}

.onderste_Lijn {
  height: 40px;
  margin-top: 10px;
}

.suggestie {
  display: inline-block;
  margin-left: 15px;
}

.mannetje {
  width: 40px;
  height: 33px;
  display: inline-block;
  background-image: url(../img/mannetje.svg);
  background-repeat: no-repeat;
  vertical-align: middle;
}

.pijl_Routeplanner {
  width: 9px;
  height: 15px;
  background-repeat: no-repeat;
  background-image: url(../img/pijl_links.svg);
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  vertical-align: middle;
}

.duur {
  margin-left: 120px;
  margin-right: 20px;
}



/* <<< */
/* Pagina's */
/* >>> */
     /* welkomstscherm */
     /* >>> */
.h2welkomstscherm {
     position: absolute;
     top: 200px;
     font-weight: 400;
     left: 50%;
     transform: translate(-50%);
}

.knopGeelwelkomstscherm {
     position: absolute;
     top: 550px;
     left: 50%;
     transform: translate(-50%);
}

.knopWitwelkomstscherm {
     position: absolute;
     top: 600px;
     left: 50%;
     transform: translate(-50%);
}
     /* <<< */
     /* Aanmeldscherm */
     /* >>> */
.aanmeldingsTitel {
     position: absolute;
     top: 150px;
     left: 50%;
     transform: translate(-50%);
}

.aanmeldingsForm {
     position: absolute;
     top: 450px;
     left: 50%;
     transform: translate(-50%);
}
     /* <<< */
     /* Registreren */
     /* >>> */
.registrerenForm {
     position: absolute;
     top: 352px;
     left: 50%;
     transform: translate(-50%);
}
     /* <<< */
     /* RegiGelukt */
     /* >>> */
.regiGeluktForm {
     position: absolute;
     top: 548px;
     left: 50%;
     transform: translate(-50%);
}
     /* <<< */
     /* test API */
     /* >>> */
.testForm {
     position: absolute;
     top: 150px;
     left: 50%;
     transform: translate(-50%);
}
     /* <<< */
     /* favorieten */
     /* >>> */
.achtergrond_favorieten {
  background-image: url(../img/achtergrond_favorieten.svg);
  width: 100%;
  height: 100%;
  background-color: #F2F2F2;
  position: absolute;
  top: 0px;
  z-index: -1;
}

.favorite {
      width: 80%;
      height: 500px;
      margin: 40px auto;
      padding: 15px;
      display: flex;
}

.favorite-column {
      height: 400px;
      justify-content: center;
}

.favoriete-lijnnummer {
      margin-right: 25px;
}

.lijnnummer {
      width: 65px;
      height: 40px;
      color: #ffffff;
      background: red;
      border-radius: 11px;
      text-align: center;
      line-height: 40px;
      margin-bottom: 25px;
}

.ln-1 {
      background: #FF52A5;
}

.ln-2 {
      background: #27AE60;
}

.ln-3 {
      background: #2D9CDB;
}

.ln-4 {
      background: #FAAA9E;
}

.ln-5 {
      background: #365FAD;
}
      /* <<< */
     /* instellingen.ejs */
     /* <<< */
.achtergrond_instellingen {
  background-color: #828282;
  width: 417px;
  height: 736px;
  background-image: url(../img/achtergrond_instellingen.svg);
  background-repeat: no-repeat;
}

.profile {
  display: block;
  padding-top: 50px;
}

#profielbox {
  width: 94px;
  height: 94px;
  background-image: url(../img/profielfoto.png);
  margin: 0 auto 20px;
}

.username {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 18px;
  text-align: center;
  color: #FFFFFF;
  width: auto;
  position: relative;
}

.kleine_link {
  font-size: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  text-align: center;
  text-decoration: underline;
  color: #FFFFFF;
  width: auto;
  margin-bottom: 50px;
}

.oplijsting_instellingen {
  width: 288px;
  margin: 0px auto;
}

.oplijsting_instellingen li {
  margin-bottom: 30px;
}

.link_instellingen {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 30px;
  color: #FFFFFF;
  text-align: left;
  width: auto;
  display: inline;
  vertical-align: middle;
  padding-left: 20px;
}

.tickets {
  width: 50px;
  height: 50px;
  display: inline-block;
  background-image: url(../img/tickets.svg);
  vertical-align: middle;
  margin-bottom: 0px;
  background-repeat: no-repeat;
}

.account {
  width: 50px;
  height: 50px;
  display: inline-block;
  background-image: url(../img/account.svg);
  vertical-align: middle;
  margin-bottom: 0px;
  background-repeat: no-repeat;
}

.instellingen {
  width: 50px;
  height: 50px;
  display: inline-block;
  background-image: url(../img/tandwiel.svg);
  vertical-align: middle;
  margin-bottom: 0px;
  background-repeat: no-repeat;
}

.over {
  width: 50px;
  height: 50px;
  display: inline-block;
  background-image: url(../img/over.svg);
  vertical-align: middle;
  margin-bottom: 0px;
  background-repeat: no-repeat;
}
/* <<< */
/* instellingen.ejs */
/* >>> */
.storingTitel {
     margin-top: 93px;
     margin-bottom: 20px;
     text-align: center;
     color: black;
     font-weight: 700;
     font-size: 30px;
}

.inputStoring {
     width: 155px;
     height: 43px;
     margin-right: 10px;
     margin-bottom: 10px;
}

.knopStoring {
     position: relative;
     width: 155px;
     height: 49px;
     margin-bottom: 10px;
     background: #2D9CDB;
     border-radius: 5px;
     font-weight: 500;
     font-size: 16px;
     text-align: center;
     color: #F2F2F2;
     line-height: 49px;
     vertical-align: middle;
     top: 2px;
}

.storingForm {
     width: 100%;
     text-align: center;
     margin-bottom: 30px;
}

.containerOmleidingen {
     width: 320px;
     height: 430px;
     margin-left: auto;
     margin-right: auto;
     overflow-y: scroll;
}

.storing1 {
     font-weight: 700;
     margin-bottom: 10px;
     border-top: 1px solid black;
     padding-top: 15px;
}

.storing2 {
     font-weight: 300;
     margin-bottom: 5px;
}
/* <<< */
